body {
  padding: 0;
  margin: 0;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(15deg, rgb(28, 1, 35) 0%, rgb(0, 0, 0) 100%);
}

/** Header styles **/
.header {
  background-image: url(https://i.imgur.com/5bZbbC9.jpg);
  height: 450px;
  width: 1376px;
  background-position: center bottom;
  margin-left: auto;
  margin-right: auto;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #ffc479;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Roast types */
.jonathan {
  background-color: #3343bc;
}

.joseph {
  background-color: #093524;
}

.jotaro {
  background-color: #5e1c1d;
}

.josuke4 {
  background-color: #673c60;
}

.giorno {
  background-color: #7a812b;
}

.jolyne {
  background-color: #395f36
}

.johnny {
  background-color: #976f97
}

.josuke8 {
  background-color: #c57228
}

/* Typography */
h1 {
  color: #c5a92b;
  font-family: 'Ranchers', cursive;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {
  color: #E4BB97;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #ffc479;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Impact', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #444444;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: rgb(228, 204, 67);
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

footer p {
  color: wheat
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: small;
}
